<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="/PublicTemplate/templateAuth/images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/PublicTemplate/templateAuth/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/PublicTemplate/templateAuth/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/PublicTemplate/templateAuth/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/PublicTemplate/templateAuth/vendor/animate/animate.css">
<!--===============================================================================================-->	
    <link rel="stylesheet" type="text/css" href="/PublicTemplate/templateAuth/vendor/css-hamburgers/hamburgers.min.css">    
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/PublicTemplate/templateAuth/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/PublicTemplate/templateAuth/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/PublicTemplate/templateAuth/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/PublicTemplate/templateAuth/css/util.css">
	<link rel="stylesheet" type="text/css" href="/PublicTemplate/templateAuth/css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form action="/authentification/authAfterFgPwd" method="POST" class="login100-form">

					<span class="login100-form-title p-b-43">
						Login to continue
					</span>

					<% if (messages.success) { %>
						<div class="alert alert-success" role="alert"><%- messages.success %></div>
						<% } %>
					
						<% if (messages.error) { %>
						<div class="alert alert-danger" role="alert"><%- messages.error %></div>
						<% } %>
					

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" value="<%= email %> " >
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="password is mandatory and must be at least 8 characters long">
						<input class="input100" type="password" name="password" value="<%= password %>"  minlength="8">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="../authentification/forget-password" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('/PublicTemplate/templateAuth/images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="/PublicTemplate/templateAuth/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/PublicTemplate/templateAuth/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/PublicTemplate/templateAuth/vendor/bootstrap/js/popper.js"></script>
	<script src="/PublicTemplate/templateAuth/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/PublicTemplate/templateAuth/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/PublicTemplate/templateAuth/vendor/daterangepicker/moment.min.js"></script>
	<script src="/PublicTemplate/templateAuth/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/PublicTemplate/templateAuth/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/PublicTemplate/templateAuth/js/main.js"></script>

</body>
</html>