<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TableauDemande</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/PublicTemplate/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/PublicTemplate/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="/PublicTemplate/mes-CSS/myCss-tableD.css">
</head>
<body class="hold-transition sidebar-mini">
    <!-- Main content -->
    <section class="content">
        <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-12">
                  <h1 id="titre">Liste des Demandes Traitées</h1>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12">
            <div class="card">
              <!--<div class="card-header">
                <h3 class="card-title" style="text-justify: center">Liste Des Demandes</h3>
              </div>-->
            <% if(data.length){ %>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>                  
                    <tr>
                      <th style="width: 10px">Date</th>
                      <th style="width: 10px">Référence</th>
                      <th style="width: 450px">Demandeur</th>
                      <th style="width: 450px">Parcelle</th>
                    </tr>
                  </thead>
                  <tbody>
                         <% for(var i = 0; i< data.length; i++){%>
                            <tr>
                                <td style="font-size: 12px"><%=data[i].dateDemande%></td>
                                <td style="font-size: 12px"><%=data[i].refDemande%></td>
                                <td>
                                  <label>Nom: </label><label class="labelInfos"> <%=data[i].nomClient%></label><br>
                                  <label>Prénom: </label><label class="labelInfos"> <%=data[i].prenomClient%></label><br> 
                                  <label>Contact: </label><label class="labelInfos"> <%=data[i].contactClient%></label><br>
                                  <label>Email: </label><label class="labelInfos"> <%=data[i].emailClient%></label>
                                </td>
                                <td>
                                  <label>Arrondissement: </label><label class="labelInfos"> <%=data[i].arrondissementParcelle%></label><br>
                                  <label>Qartier: </label><label class="labelInfos"> <%=data[i].quatierParcelle%></label><br> 
                                  <label>ProjetLot: </label><label class="labelInfos"> <%=data[i].projectLotisParcelle%></label><br>
                                 <!-- <label>Etat des lieux:</label><label><%=data[i].prenomClient%></label>-->
                                </td>
                              </tr>
                        <% } %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            <%}%>
            <% if(!data.length) { %>
              <p class="text-center">No requests!</p>
            <% } %>
  
            </div>
            <!-- /.card -->

            <!-- /.card -->
          </div> 

        </div>
        <!-- /.row -->

        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </section>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/PublicTemplate/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/PublicTemplate/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/PublicTemplate/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/PublicTemplate/js/demo.js"></script>
</body>
</html>
