<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forgot Password</title>
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/PublicTemplate/TemplatForgetPassword/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/PublicTemplate/TemplatForgetPassword/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/PublicTemplate/TemplatForgetPassword/assets/css/form-elements.css">
        <link rel="stylesheet" href="/PublicTemplate/TemplatForgetPassword/assets/css/style.css">
        <link rel="stylesheet" href="/PublicTemplate/mes-CSS/myCss.css">
    </head>
    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                           <!-- <h1><strong>Bootstrap</strong> Forgot Password Forms</h1>     -->                       
                        </div>
                    </div>
                        <div class="col-sm-6 col-sm-offset-3 text">                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
                                        <h3>Forgot Password</h3>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-lock"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form method="post" action="/authentification/forget-password" class="user">
                                         <% if (messages.error) { %>
                                                <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                                            <% } %>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" name="email" value="<%= email %>" id="exampleInputemail"  placeholder="Enter your email...">
                                          </div>
                                          <button class="btn btn-primary btn-user btn-block">
                                            Send 
                                          </button>
				                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>        
        <script src="/PublicTemplate/TemplatForgetPassword/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/PublicTemplate/TemplatForgetPassword/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/PublicTemplate/TemplatForgetPassword/assets/js/jquery.backstretch.min.js"></script>
        <script src="/PublicTemplate/TemplatForgetPassword/assets/js/scripts.js"></script>        
    </body>
</html>